{{define "header_input"}}
<fieldset>
    <legend>Headers</legend>
    <input type="text" name="{{.}}.header.name" placeholder="content-type" />
    <input type="text" name="{{.}}.header.values" placeholder="application/json" />
</fieldset>
{{end}}