tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.match {
    display: flex;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}